#hero{
    background: url(background.jpg);
    background-size: cover;
    width:100%;
    height: 100%;
    bottom: 60;
}

.search{
    background: transparent;
}


#middle{
    background: linear-gradient(135deg ,#00feba ,#5b548a);
    margin: 100px auto 0;
    border-radius: 20px;
}


#img{
    border-radius: 150px;
}

.temp{
    font-weight: bold;
}
.app{
    margin-left: 600px;
}
